* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    background-color: hsl(30, 38%, 92%);
    flex-direction: column;
}

.main-container {
    display: grid;
    grid-template-rows: 25fr 75fr;
    width: auto;
    height: 65rem;
    margin: 15rem 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 11px;
    overflow: hidden;
}

.perfume-content {
    display: grid;
    align-items: center;
    padding: 0 1.5rem;
}

.mobile-img {
    width: 100%;
}

.desktop-img {
    display: none;
}

.perfume-tags {
    margin-bottom: 2rem;
}

h1 {
    color: black;
    font-size: 3.5rem;
    font-weight: 700;
}

.perfume-title {
    font-size: 1.4rem;
    line-height: 3;
    color: hsl(0, 0%, 47%);
}

.perfume-description {
   margin-bottom: 2rem;
   font-size: 1.5rem;
   line-height: 1.5;
   color: hsl(0, 0%, 47%);
}

.perfume-first-price {
    margin-right: 1rem;
    font-size: 3rem;
    color: hsla(157, 36%, 37%, 1);
}

.perfume-second-price {
    text-decoration: line-through;
    color: hsl(0, 0%, 47%);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 2rem;
    text-align: center;
    background-color: hsla(157, 36%, 37%, 1);
    border-radius: 12px;
}

.perfume-add-button {
    font-size: 2rem;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.perfume-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    color: hsl(0, 0%, 100%);
}

.attribution {
    margin-bottom: 2rem;
    text-align: center;
}

@media only screen and (min-width: 420px) {  
    .main-container {
        grid-template-columns: 50fr 50fr;
        width: 60rem;
        height: 45rem;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: inline-block;
        width: 100%;
    }

    .perfume-content {
        padding: 2rem;
    }
  
} 